<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pedido</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <script src="/js/menu.js"></script>
</head>
<body>
    <div th:insert="fragments/barraNavegacao :: navbar"></div>
    <br>
    <div class="form-header">
        <h1>Editar Pedido</h1>
    </div>
    <br>
    <form th:action="@{/pedido/edit}" th:object="${pedido}" method="post">
        <br>
        <div th:insert="fragments/formPedido :: formPedido"></div>
        
        <div class="button-container">
            <button type="submit">Salvar</button>
            <button type="button" onclick="window.location.href='/pedido/list'">Cancelar</button>
        </div>
    </form>
</body>
</html>