<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuários</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
	<script src="/js/menu.js"></script>
</head>
<body>
    <div th:insert="fragments/barraNavegacao :: navbar"></div>

    <h1>LISTAR USUÁRIOS</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome Completo</th>
                <th>Username</th>
                <th>E-mail</th>
    
                <th>Funções (Roles)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.username}"></td>
                <td th:text="${usuario.email}"></td>
                
              
                
                <td>
                    <span th:each="role : ${usuario.roles}" th:text="${role.nome} + ' '"></span>
                </td>
                
                <td>
                    <a th:href="@{'/usuario/edit/' + ${usuario.id}}">Editar</a> |
                    <a th:href="@{'/usuario/delete/' + ${usuario.id}}" onclick="return confirm('Tem certeza que deseja excluir o usuário?')">Excluir</a>
                </td>
            </tr>
        </tbody>
</table>

</body>
</html>