<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Clientes</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
	<script src="/js/menu.js"></script>
</head>
<body>
    <div th:insert="fragments/barraNavegacao :: navbar"></div>

    <h1>LISTAR CLIENTE</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.telefone}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.endereco}"></td>
                <td>
                    <a th:href="@{'/cliente/edit/' + ${cliente.id}}">Editar</a> |
                    <a th:href="@{'/cliente/delete/' + ${cliente.id}}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                </td>
            </tr>
        </tbody>
</table>

</body>
</html>